body {
	padding: 20px;
}

canvas#board {
	background-color: #e8e8e8;
	position: absolute;
	top: 0;
	left: 0;
}
.btn-group {
	z-index: 2;
}
.active {
	background-color: #ff0;
	border-color: #f00;
}

.inspector {
	z-index:2;
	position: relative;
	width: 250px;
}

textarea.code-area {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
