body {
	padding: 20px;
}

canvas#board {
	background-color: #e8e8e8;
	position: absolute;
	top: 0;
	left: 0;
}
.btn-group {
	z-index: 2;
}
.active {
	background-color: #ff0;
	border-color: #f00;
}

.inspector {
	z-index:2;
	position: relative;
	width: 250px;
}
<<<<<<< HEAD
.inspector_project_title {
	font-size:20px;
	margin-top:10px;
}
.inspector_intro_content{
	vertical-align:middle;
	margin-top:20px;
	position:absolute;
	height:100%;
}

.modal_body {
    -webkit-overflow-scrolling: touch;
}
=======
>>>>>>> modal fix
